@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Montserrat', sans-serif; /* use Montserrat font for git-id */

.main-profile{
  position: relative;
}
.main-container{
  display: grid;
  grid-template-columns: 2.5fr 7fr 2.5fr;
}

.cover{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  letter-spacing: .2rem;
  cursor: pointer;
  z-index: 3;

}

.profile-container{
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10rem 4rem 10rem 15rem;
}

.pp{
  width: 100%;
  height: 100%;
  grid-row: 1/4;
}

.welcome{
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-row-gap: 1.5rem;
  justify-content: start;
  align-content: center;
  padding: 2rem;
  background: #959595;background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  color: white;
  border-radius: 3px;
}

.welcome p{
  line-height: 1.3rem;
}

.social-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #343a40;
  color: white;
}

.social-container p{
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
}

.social-container .links-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.links-items a{
  justify-self: center;
  align-self: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.profile-container .role{
  display: grid;
  align-content: center;
  padding-left: 1.3rem;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: .1px solid black;
  border-radius: 3px;
}

.menu-items{
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.menu-items div{
  font-size: 1.8rem;
}

.menu-items:nth-of-type(1){
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000046, #1cb5e0);
}

.menu-items:nth-of-type(2){
  background: #30e8bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #30e8bf, #ff8235); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #30e8bf, #ff8235);
}

.menu-items:nth-of-type(3){
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd89b, #19547b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd89b, #19547b);
}

.menu-items:nth-of-type(4){
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c02425, #f0cb35); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c02425, #f0cb35);
}

.dl{
  background: #343A40;
  height: 10rem;
  border-radius: 3px;
  padding: 2rem;
}

.dl button{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: .3rem;
  background: transparent;
  padding: 1.2rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.home{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  padding: 2rem;
  background: whitesmoke;
  border-radius: 3px;
  border: .3px solid rgba(0, 0, 0, .3);
  color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 768px){

  .home{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows: 2fr 10fr; 
  }

    .language{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: end;
      height: 70vh;
      text-align: center;
    }

    .language h3{
      position: relative;
      font-size: .8rem;

    }

    .language div{
      
    }


  .myskill{
    grid-column: 1/8;
    display: grid;
    justify-content: center;
    padding: 1.5rem;
    justify-items: center;
  }

}


.language{
  border-bottom: 1px solid rgb(0, 0, 0,.2);
}

.language h3{
  padding-bottom: 1rem;
}

.language div{
  background: seagreen;
}

.resume-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  overflow-x: hidden;
}


@media screen and (max-width: 1330px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
  }
}

@media screen and (max-width: 935px) {
  .main-container{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }
}

@media screen and (max-width: 768px) {
  .profile-container{
      font-family: 'Montserrat', sans-serif;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 20rem 5rem 3rem 10rem;
    }

    .pp{
      width: 100%;
      height: 100%;
      grid-row: 1/2;
    }

    .welcome{
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      display: grid;
      grid-row-gap: 1.5rem;
      justify-content: start;
      align-content: center;
      padding: 2rem;
      background: #959595;background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
      color: white;
      border-radius: 3px;
    }

    .social-container{
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 2fr;
      background: #343a40;
      color: white;
    }

    .menu-container{
      grid-column: 1/3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: .1px solid black;
      border-radius: 3px;
    }

    .profile-container .role{
      grid-column: 1/3;
      display: grid;
      align-content: center;
      padding-left: 1.3rem;
      height: 100%;
      width: 100%;
      background: black;
      color: white;
    }
}

/*---------------------------------RESUME----------------------------------*/

/*------------------------Image and CV Container---------*/

.resume-main{

}


/*------------------------CODES IMAGE----------*/
.resume-container{
  font-size: 2rem;
  letter-spacing: .4rem;
  padding-top: 20%;
}
/*------------CHILD----------*/
.resume-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------------CV CONTAINER-------*/
.image-background{
  background: grey;
  width: 100%;
  height: 100%;
}
/*----------CHILD------------*/
.image-background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.programming-icons{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 7rem);
  font-size: 5rem;
  color: white;
}

/*---------------------------------RESUME END------------------------*/


@media screen and (max-width: 550px) {
  .profile-container{
      font-family: 'Montserrat', sans-serif;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30rem 5rem 20rem 5rem 10rem;
    }

    .pp{
      width: 100%;
      height: 100%;
      grid-column: 1/2;
      grid-row: 1/2;

    }

    .welcome{
      grid-column: 1/2;
      grid-row: 3/4;
      width: 100%;
      height: 100%;
      display: grid;
      grid-row-gap: 1.5rem;
      justify-content: start;
      align-content: center;
      padding: 2rem;
      background: #959595;background: linear-gradient(to right, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
      color: white;
      border-radius: 3px;
    }

    .social-container{
      grid-row: 2/3;
      grid-column: 1/2;
      display: grid;
      grid-template-columns: 1fr 2fr;
      background: #343a40;
      color: white;
    }

    .social-container p{
      font-size: 1.2rem;
    }

    .menu-container{
  
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: .1px solid black;
      border-radius: 3px;
    }

    .profile-container .role{

      display: grid;
      align-content: center;
      padding-left: 1.3rem;
      height: 100%;
      width: 100%;
      background: black;
      color: white;
    }

    .resume-container{
      display: none;
    }


    .programming-icons{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 3rem);
    font-size: 3rem;
    color: white;
    align-self: center;
    padding: 1.3rem;
  }

}

.menu-items:hover span{
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
}





